{{ $logo := "images/tml.png" }}
{{ if isset .Site.Params "logo" }}
{{ $logo := .Site.Params.logo }}
{{ end }}
<div class="mdl-card mdl-cell mdl-shadow--2dp" style="background: url('{{$logo}}') center / cover;">
  <div class="mdl-card__title mdl-card--expand">
    <h4>
      Technology<br>
      Media<br>
      Lab
    </h4>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      ここにサイトの説明のリンク
    </a>
    <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="menubtn">
      {{range $i, $current := (where .Site.Pages "Type" "page")}}
        <a href="{{$current.Permalink}}" class="mdl-menu__item mdl-js-ripple-effect">{{ $current.Title | title }}</a>
      {{end}}
    </ul>
    <button id="menubtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons">more_vert</i>
    </button>
  </div>
</div>



