{{ partial "header_main.html" . }}
<body class="product">
{{ partial "header-menu.html" . }}

<div class="mdl-grid">
  {{ $paginator := .Paginate (where .Data.Pages "Type" "product") }}
  {{ range $index, $page := $paginator.Pages }}
      {{if and (eq $paginator.PageNumber 1) (eq $index 0)}}
        <div class="mdl-card mdl-cell first-post mdl-shadow--2dp">
                {{ .Render "li" }}
        </div>
      {{else}}
        <div class="mdl-card mdl-cell mdl-shadow--2dp">
        {{ .Render "li" }}
        </div>
      {{end}}
  {{ end }}
  {{ partial "pagination.html" $paginator }}
</div>



{{ partial "footer.html" . }}
